/* RESET */

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #314584;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

button:active {
  transform: translateY(5px);
}

button:focus {
  outline: none;
}

input,
textarea {
  border: none;
  background-color: #f4fafe;
  color: #314584;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding: 16px 20px 24px 20px;
}

textarea:focus {
  outline: none;
}

input:focus {
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: #314584;
  opacity: 0.5;
}

body {
  background-color: #ffffff;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  width: 100%;
}

/* HEADER */

.header {
  padding-top: 66px;
  position: relative;
  z-index: 2;
  background-color: #ffffff;
}

.container {
  width: 61.5%;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 6px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo-nav-mobile {
  display: none;
}

.logo-nav {
  left: 50px;
  width: 11.25%;
  position: absolute;
  text-align: center;
}

.logo-nav-mobile img,
.logo-nav img {
  width: 70px;
}

.left-nav ul {
  display: flex;
  padding: 0 0 0 0;
}

.nav-ul-item {
  white-space: nowrap;
}

.nav-ul-item:not(:last-child) {
  margin-right: 2.35vw;
}

.nav-ul-item a:hover {
  filter: brightness(130%);
}

.menu-toggler {
  display: none;
}

.right-nav {
  display: flex;
}

.right-nav select {
  height: 20px;
  border: none;
  margin-top: 15px;
  padding-right: 2px;
  color: #314584;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  background-color: #ffffff;
}

.right-nav select:hover {
  cursor: pointer;
  filter: brightness(130%);
}

.right-nav select:focus {
  outline: none;
}

.right-nav option {
  color: #314584;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.right-nav option:focus {
  outline: none;
}

.right-nav button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 38px;
  padding: 15px 0 22px 0;
  width: 200px;
  border-radius: 5px;
  color: #ff3946;
  background-color: #ffffff;
  box-shadow: 0 5px 10px #192d332a;
}

.right-nav button img {
  width: 29px;
}

.right-nav button:hover {
  box-shadow: 0 5px 15px #192d332a;
  transition: 0.3s box-shadow;
}

.ham-menu {
  display: none;
  opacity: 0;
  width: calc(100% + 1px);
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 60px;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 15px 13px 0px #192d3313;
  transition: 0.05s opacity ease-in-out;
}

.ham-menu ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
}

.ham-menu ul li {
  padding: 15px 0;
  border-bottom: 1px solid #31448467;
}

.ham-menu li:last-child {
  border: none;
}

.ham-menu .nav-ul-item {
  margin-right: 0;
}

/* MAIN content */

.main {
  padding-top: 13.189%;
  position: relative;
  box-shadow: 0 5px 40px #192d3321;
  padding-bottom: 62px;
}

.content {
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 17.3vw;
}

.titles {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
}

.titles h1 {
  font-size: 4vw;
  color: #314584;
  line-height: 4.8vw;
  letter-spacing: 1px;
  margin-bottom: 38px;
}

.titles p {
  font-size: 18px;
  margin-bottom: 40px;
  color: #6e757a;
  font-weight: 400;
  line-height: 28px;
}

.titles-btns-container {
  width: 100%;
}

.titles-btns {
  display: flex;
  width: 355px;
  justify-content: space-between;
  align-items: center;
}

.titles-btns button {
  white-space: nowrap;
  color: #ffffff;
  background-color: #ff3946;
  border-radius: 25px;
  width: 200px;
  padding: 16px 0;
  box-shadow: 0 5px 5px #192d331a;
}

.titles-btns a {
  white-space: nowrap;
}

.slideshow {
  position: absolute;
  width: 35%;
  top: 110px;
  left: 58.3%;
}

.slideshow div {
  width: 100%;
  cursor: pointer;
}

.slideshow div img {
  width: 100%;
}

/* MAIN portfolio */

.container-grid {
  width: 80%;
  margin-bottom: 15.2vw;
}

.portfolio {
  width: 100%;
}

.portfolio-titles {
  width: 100%;
  margin-bottom: 80px;
}

.portfolio-titles h3 {
  font-size: 48.43px;
  color: #314584;
}

.portfolio-grid {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370px, 370px));
  grid-gap: 30px;
  justify-content: center;
  margin-left: -4px;
  margin-bottom: 55px;
}

.portfolio p {
  width: 100%;
  text-align: center;
  color: #ff3946;
  font-size: 18px;
}

.grid-item {
  height: 280px;
  background-color: #c3d0d8;
}

/* MAIN Contact */

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact p {
  color: #ff3946;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.contact h3 {
  color: #314584;
  font-size: 48.43px;
  margin-bottom: 43px;
}

form {
  width: 100%;
}

.email-subject {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.email-subject input {
  width: 45%;
  margin-bottom: 37px;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 60px;
}

.sendbtn-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.sendbtn-container input {
  white-space: nowrap;
  color: #ffffff;
  background-color: #ff3946;
  border-radius: 25px;
  width: 200px;
  padding: 16px 0;
  box-shadow: 0 5px 5px #ff39463d;
}

/* Footer */

.footer {
  background-color: #314584;
  width: 100%;
  position: relative;
  z-index: -1;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 3.5vw;
}

.info p {
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.info h3 {
  color: #ff3946;
  text-align: center;
  font-size: 48.43px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.info ul {
  display: flex;
  width: 550px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 51px;
}

.info-ul-item a {
  color: #ffffff;
}

.info h6 {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 45px;
}

.info-icons {
  display: flex;
  width: 258px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.info-icons i {
  color: #ffffff;
  font-size: 30px;
  padding-bottom: 55px;
}

@media screen and (max-width: 1325px) {
  .nav-ul-item:last-child a {
    color: #ff3946;
  }
  .right-nav button {
    display: none;
  }
  .right-nav select {
    margin-top: 0;
  }
  .email-subject input {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 85%;
  }
  .logo-nav {
    display: none;
  }
  .titles h1 {
    font-size: 43px;
    line-height: 52px;
  }
}
