@media screen and (max-width: 572px) {
  .header {
    padding: 13px 0 13px 0;
    box-shadow: 0 5px 10px #192d332a;
    position: fixed;
    width: 100%;
  }
  .container {
    width: 95%;
  }
  .logo-nav-mobile {
    display: block;
  }
  .left-nav {
    display: none;
  }
  .menu-toggler {
    display: block;
    color: #314584;
    font-size: 30px;
  }
  .main {
    padding-top: 135px;
  }
  .titles-btns {
    flex-direction: column;
    width: 100%;
  }
  .titles-btns button {
    margin-bottom: 20px;
  }
  .slick div:not(:first-child) {
    display: none;
  }
  .info ul {
    display: none;
  }
}

@media screen and (max-width: 371px) {
  .portfolio-grid {
    grid-template-columns: repeat(auto-fill, minmax(100%, 100%));
  }
}
