/* RESET */

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #314584;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

button:active {
  transform: translateY(5px);
}

button:focus {
  outline: none;
}

body {
  background-color: #ffffff;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  width: 100%;
}

/* HEADER */

.header {
  padding-top: 66px;
  position: relative;
  z-index: 2;
  background-color: #ffffff;
}

.container {
  width: 61.5%;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 6px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo-nav-mobile {
  display: none;
}

.logo-nav {
  left: 50px;
  width: 11.25%;
  position: absolute;
  text-align: center;
}
.logo-nav-mobile img,
.logo-nav img {
  width: 70px;
}

.left-nav ul {
  display: flex;
  padding: 0 0 0 0;
}

.nav-ul-item {
  white-space: nowrap;
}

.nav-ul-item:not(:last-child) {
  margin-right: 2.35vw;
}

.nav-ul-item a:hover {
  filter: brightness(130%);
}

.menu-toggler {
  display: none;
}

.right-nav {
  display: flex;
}

.right-nav select {
  height: 20px;
  border: none;
  margin-top: 15px;
  padding-right: 2px;
  color: #314584;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  background-color: #ffffff;
}

.right-nav select:hover {
  cursor: pointer;
  filter: brightness(130%);
}

.right-nav select:focus {
  outline: none;
}

.right-nav option {
  color: #314584;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.right-nav option:focus {
  outline: none;
}

.right-nav button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 38px;
  padding: 15px 0 22px 0;
  width: 200px;
  border-radius: 5px;
  color: #ff3946;
  background-color: #ffffff;
  box-shadow: 0 5px 10px #192d332a;
}

.right-nav button img {
  width: 29px;
}

.right-nav button:hover {
  box-shadow: 0 5px 15px #192d332a;
  transition: 0.3s box-shadow;
}

.ham-menu {
  display: flex;
  opacity: 0;
  width: calc(100% + 1px);
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 61px;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 15px 13px 0px #192d3313;
  transition: 0.05s opacity ease-in-out;
}

.ham-menu ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
}

.ham-menu ul li {
  padding: 15px 0;
  border-bottom: 1px solid #314584;
}

.ham-menu li:last-child {
  border: none;
}

.ham-menu .nav-ul-item {
  margin-right: 0;
}

/* MAIN */

.main {
  padding-top: 13.189%;
  /* padding-top: 251px; */
  position: relative;
}

.content {
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.titles {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
}

.titles h1 {
  font-size: 4vw;
  color: #314584;
  line-height: 4.8vw;
  letter-spacing: 1px;
  margin-bottom: 38px;
}

.titles p {
  font-size: 18px;
  margin-bottom: 40px;
  color: #6e757a;
  font-weight: 400;
  line-height: 28px;
}

.titles-btns-container {
  width: 100%;
}

.titles-btns {
  display: flex;
  width: 355px;
  justify-content: space-between;
  align-items: center;
}

.titles-btns button {
  white-space: nowrap;
  color: #ffffff;
  background-color: #ff3946;
  border-radius: 25px;
  width: 200px;
  padding: 16px 0;
  box-shadow: 0 5px 5px #192d331a;
}

.titles-btns a {
  white-space: nowrap;
}

.slideshow {
  position: absolute;
  width: 35%;
  top: 110px;
  left: 58.3%;
}

.slideshow div {
  width: 100%;
  cursor: pointer;
}
.slideshow div img {
  width: 100%;
}

@media screen and (max-width: 1325px) {
  .nav-ul-item:last-child a {
    color: #ff3946;
  }
  .right-nav button {
    display: none;
  }
  .right-nav select {
    margin-top: 0;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 85%;
  }
  .logo-nav {
    display: none;
  }
  .titles h1 {
    font-size: 43px;
    line-height: 52px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 85%;
  }
  .titles {
    width: 80%;
  }
  .titles p {
    margin-bottom: 70px;
  }
  .slideshow {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    left: 0;
    top: 0;
  }
  .slideshow .slick {
    width: 80%;
  }
  .titles-btns {
    margin: 0 auto;
    margin-bottom: 70px;
  }

  @media screen and (max-width: 572px) {
    .header {
      padding: 13px 0 13px 0;
      box-shadow: 0 5px 10px #192d332a;
      position: fixed;
      width: 100%;
    }
    .container {
      width: 95%;
    }
    .logo-nav-mobile {
      display: block;
    }
    .left-nav {
      display: none;
    }
    .menu-toggler {
      display: block;
      color: #314584;
      font-size: 30px;
    }
    .main {
      padding-top: 135px;
    }
    .titles-btns {
      flex-direction: column;
    }
    .titles-btns button {
      margin-bottom: 20px;
    }
    .slick div:not(:first-child) {
      display: none;
    }
  }
}
